<div class="container">
        Cognizant Technologies | Full stack Developer, Care Finder (EAP)
        <br>
        The Care Finder application includes two main modules, web module allows patients to book
        virtual doctor appointments based on their health details. Doctors provide their available
        times, which patients can view and select.
        <br>
        Another module automates the creation of multiple accounts for employees when an
        organization
        enrolls in the application, using Python to handle large data sets efficiently.
    <ul>
        <li>
            Full-Stack Web Development: Developed web-based applications using Java, Python, Flask,
            HTML, CSS, and JavaScript, contributing to both frontend and backend functionalities.
            Collaborated with front-end developers to integrate dynamic and responsive web
            applications.
        </li>
        <li>
            Database Management: Designed, implemented, and optimized databases using SQL Server and
            MySQL. Migrated legacy JSON data to MySQL using Python, and developed Python-based APIs
            for
            efficient data retrieval and management.
        </li>
        <li>
            Application Development: Built core application features and backend logic with Python,
            Flask, and MySQL to support seamless data handling and user interactions. Leveraged
            cross-platform solutions with .NET and Java to enhance performance and scalability.
        </li>
        <li>
            Agile Collaboration: Actively participated in Agile processes, including daily stand-ups
            and
            sprint planning, to ensure efficient project delivery and team coordination.
        </li>
    </ul>
    Environment:
    <br>
    Java, Python 3.x, Angular, HTML, CSS, JavaScript, SQL, MySQL, Flask, NumPy, Pandas, JSON.
    <br><br>
    Cognizant Technologies | Java/.NET Api Developer, Patient Portal
    <br>
    Patient Portal is a web based application where patients can view their post visit results and
    make
    necessary payments.
    <ul>
        <li>
            Enterprise Application Development: Contributed to building enterprise-level
            applications
            using Java (Spring Boot) and .NET Core 6.0, with a focus on RESTful APIs, microservices,
            and
            clean architecture for efficient system communication and maintainability.
        </li>
        <li>
            Frontend Development: Developed and maintained interactive single-page applications
            (SPAs)
            using Angular, TypeScript, HTML, and CSS. Designed reusable components and ensured
            cross-browser compatibility and mobile responsiveness for an enhanced user experience.
        </li>
        <li>
            Database Expertise: Played a key role in creating and optimizing SQL queries and stored
            procedures for MySQL databases, supporting seamless data management and application
            workflows.
        </li>
        <li>
            Agile Collaboration: Actively participated in Agile practices, including sprint
            planning,
            daily stand-ups, and retrospectives, contributing to iterative project improvements and
            team
            success.
        </li>
    </ul>
    Environment:
    <br>
    Java, Angular, HTML, CSS, JavaScript, SQL, MySQL, TypeScript, .NET Core 6.0, C#, Spring Boot.
    <br><br>
    OpenAI | Python Developer
    <ul>
        <li>
            Worked as a part-time employee as a python developer in OpenAI.
        </li>
        <li>
            My role here is to read the queries, rate the given outcomes, and provide explanation
            for
            the
            rating.
        </li>
        <li>
            The queries given here are related to python development, hence I was given the role of
            python
            developer.
        </li>
    </ul>
</div>
