<div class="container">
        Basic Search Engine | Python Programming Language, Flask Framework, AWS
    <ul>
        <li>
            Basic search engine is developed using flask and python programming language.
        </li>
        <li>
            Data is stored in Amazon AWS S3 buckets.
        </li>
        <li>
            Initially users can login and search the query.
        </li>
        <li>
            Query will be converted to vector using OpenAI API and based on the query vector search
            is
            processed and it returns the output according to the query.
        </li>
    </ul>
    Nine Men Morris Game| Python Programming Language
    <ul>
        <li>
            Development and Testing of nine men Morris game is done as a team.
        </li>
        <li>
            My role in the project is to develop the logic behind the game.
        </li>
        <li>
            Using tkinter we made a visual UI for this project.
        </li>
    </ul>

    Voice of VNR | Flutter framework, Dart Programming Language, Google Firebase
    <ul>
        <li>
            This project is used for querying information about our college which I developed with a
            team
            of 4.
        </li>
        <li>
            Led the team during the project and developed UI of the application.
        </li>
        <li>
            Contributed to development of logic of the voice assistant.
        </li>
    </ul>

    Visualization of Page Replacement Algorithms | Flutter framework, Dart Programming Language
    <ul>
        <li>
            Page faults can be determined with several algorithms in Operating Systems, but it is
            difficult to understand each algorithm.
        </li>
        <li>
            I developed an application where some of the algorithms can be explained visually to
            make
            users understand step by step process.
        </li>
    </ul>
    Helping Hands | Flutter framework, Dart Programming Language
    <ul>
        <li>
            The signup page is made for the donors and request the needy items.
        </li>
        <li>
            Also, this application main aim is to make the donors donated items reach the correct
            people
            who are in need which gives motivation for the donors to donate more.
        </li>
    </ul>

    Restaurant Bill Generator | Java Programming Language, MySQL Database
    <ul>
        <li>
            Developed JAVA console based application for generating bill of the restaurant by giving
            input
            of items on console.
        </li>
        <li>
            The items in the menu are stored in MySQL database.
        </li>
    </ul>
</div>