        <div class="container">
            <p>
            <ul>
                <li>
                    Programming Languages: Python, Java, C#, Dart, C, C++, JavaScript, TypeScript
                </li>
                <li>
                    Machine Learning Libraries and Frameworks: NumPy, Pandas, Scikit-learn, TensorFlow,
                    Keras,
                    Matplotlib, Seaborn
                </li>
                <li>
                    Web Development: HTML, CSS, JavaScript, Django, Flask, React, Angular
                </li>
                <li>
                    Mobile Application Development: Flutter
                </li>
                <li>
                    Cloud Stack: Amazon Web Services (AWS), Google Cloud Platform (GCP), Google App Engine
                </li>
                <li>
                    Database Skills: MySQL, SQL, SinglestoreDB
                </li>
                <li>
                    Software Skills: Git, Big Data, .NET, Blazor, Linux, Spring Boot
                </li>
                <li>
                    Servers: Google App Engine, Tomcat, Apache
                </li>
                <li>
                    Operating Systems: Windows, Linux
                </li>
                <li>
                    IDE: Visual Studio, Eclipse, Android Studio
                </li>
            </ul>
        </div>
