<div class="container">
    <p class="flex-fill" style="padding-right: 10%;">
        Experienced in developing web-based applications using Python, Java, .NET Core 6.0, Flutter, Angular,
        Blazor, and frontend technologies like CSS, HTML, and JavaScript. Skilled in backend, middleware, and
        database functionalities, including implementing SQL stored procedures and managing SQL Server and MySQL
        databases. Proficient in Python and Flutter for building and deploying applications on Linux, with
        expertise in designing calendar features and leveraging data structures and algorithms. Knowledgeable in
        machine learning and deep learning mathematical concepts, with strong adherence to coding standards like
        PEP-8. Experienced in using Git and SVN for version control, demonstrating excellent problem-solving and
        interpersonal skills.
    </p>
</div>